@import "../../styles/global.scss";

.taskCard {
  min-height: 4.5rem;
  background-color: $gray-500;
  padding: 1rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: 0.5s;

  .concludTask {
    text-decoration: line-through;
    color: $gray-300;
  }

  p {
    color: $gray-100;
  }

  div {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    color: $gray-300;

    &:hover {
      background-color: $gray-400;
      color: $danger;
      border-radius: 8px;
    }
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "\2713";
      font-weight: 900;
      color: $gray-100;
      font-size: 0.8rem;
      display: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:checked {
      background-color: $dark-purple;
      border: 2px solid $dark-purple;
    }

    &:checked:after {
      display: initial;
    }
  }
}
